doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0")
        title Bobbi
        meta(property="og:title" content="")
        meta(property="og:image" content="")
        meta(property="og:url" content="")
        meta(property="og:description" content="")
        meta(name="keywords" content="")
        meta(name="description" content="")
        link(rel='stylesheet', href='assets/cms/css/bootstrap-reset-breakpoint.css')
        link(rel='stylesheet', href='assets/cms/css/layout.css')
        link(rel='stylesheet', href='assets/cms/css/main.css?v=200804')


body
    // ============================== main start ===============================
    main#top-level
        article.bn
            section
                img.img-fluid(src="assets/cms/images/BB_OP_201116_01.jpg")
            section
                ul.row.no-gutters.align-items-start
                    li.col-12
                        a(href="https://www.bobbibrown.com.tw/product/2341/39562" title="晶鑽桂馥潤色護唇膏" target="_blank")
                            img.img-fluid(src="assets/cms/images/BB_OP_201116_02.jpg")
                    li.col-12
                        img.img-fluid(src='assets/cms/images/BB_OP_201116_03.jpg')
                    li.col-12
                        a(href="https://www.bobbibrown.com.tw/product/14460/79631" title="金緻絲絨唇膏" target='_blank')
                            img.img-fluid(src='assets/cms/images/BB_OP_201116_04.jpg')
                    li.col-12
                        a(href="https://www.bobbibrown.com.tw/product/2339/69380/luxe-shine-intense/fh19" title="金緻水光唇膏" arget='_blank')
                            img.img-fluid(src='assets/cms/images/BB_OP_201116_05.jpg')
                    li.col-12
                        a(href="https://www.bobbibrown.com.tw/product/2342/37182/luxe-lip-color/fh15" title="金緻奢華唇膏" target='_blank')
                            img.img-fluid(src='assets/cms/images/BB_OP_201116_06.jpg')
                    li.col-12
                        img.img-fluid(src='assets/cms/images/BB_OP_201116_07.jpg')
                    li.row.col-12.align-items-start
                        li.d-flex
                            a(href="https://www.bobbibrown.com.tw/product/14017/69374" title="冬蟲夏草精華粉底" target='_blank')
                                img.img-fluid(src='assets/cms/images/BB_OP_201116_08.jpg')
                        li.d-flex
                            a(href="https://www.bobbibrown.com.tw/product/19938/7612" title="眼頰兩用盤" target='_blank')
                                img.img-fluid(src='assets/cms/images/BB_OP_201116_09.jpg')
                    li.col-12
                        a(href="https://www.bobbibrown.com.tw/products/19938" title="更多官網獨家組" target='_blank')
                            img.img-fluid(src='assets/cms/images/BB_OP_201116_10.jpg')
                    li.col-12
                        a(href="https://lihi1.com/mEV2M" title="Mellow Co.聯名" target='_blank')
                            img.img-fluid(src='assets/cms/images/BB_OP_201116_11.gif')
                    li.col-12
                        img.img-fluid(src='assets/cms/images/BB_OP_201116_12.jpg')

    // ============================== main close ===============================
